@font-face {
	font-family: 'HelveticaNeueCyrLight';
	src: url('../fonts/HelveticaNeueCyr-Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyrRoman';
	src: url('../fonts/HelveticaNeueCyr-Roman.otf');
	font-weight: normal;
	font-style: normal;
}