@import "fonts";

* {
  box-sizing: border-box;
}

.clearfix {
  width: 100%;
}
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0 66px 0 70px;
  max-width: 1240px;
}

body {
  font-family: 'HelveticaNeueCyrLight', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none; 
}

button {
  border-radius: 5px;
  background-color: #ffffff;
  width: 202px;
  height: 46px;
  border: 0px;
}

li:hover{
  opacity: 0.7;
  transition: 0.2s;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__logo {
  font-family: 'HelveticaNeueCyrRoman', sans-serif;
  font-size: 24px;
  padding-top: 30px;
}

.header__menu {
  padding-top: 21px;
  li {
    display: inline-block;
    padding: 0 13px;

    a {
      padding: 0;
      letter-spacing: 0.1pt;
    }
  }
}

.main__header {
  margin: 0 auto;
  text-align: center;
  font-size: 39px;
  padding-bottom: 67px;
}



.articles-nav {
  margin: 0 auto 54.9px;
  text-align: center;
  &__item {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    button {
      // padding: 0;
      background-color: #f7f7f7;
      border-radius: 4.07692px;
      padding: 0;
      margin: 0 10px;
    }
  }
  &__btn.is-active {
    color: #ffffff;
    background-color: #AEAEAE;
    border-radius: 4.07692px;    
  }
  &__wrapper {
    margin: 0;
  }
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px 38px;
  color: #ffffff;
  
  &__text {
    padding: 0 30px;
    position: relative;
    top: 250px;
    z-index: 1;
  }
  &__hashtag {
    font-size: 14px;
    position: relative;
    bottom: 40px;
  }
  &__title {
    font-size: 22px;
  }
}

.article__item {
  height: 364px;
  overflow: hidden;
  margin: 0 10px 22px;
  min-width: 212px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  flex-basis: 0;
}

.article__type-1 {
  background-image: url(../img/article-npvp.jpg);
  flex-grow: 48.18;
  .article__text{
    top: 270px;
  }
}
.article__type-2 {
  background-image: url(../img/article-tendons.jpg);
  flex-grow: 19.27;
}
.article__type-3 {
  background-image: url(../img/article-bandage.jpg);
  flex-grow: 28.91;
}

.article__gradient {
  width: 100%;
  height: 145.82px;
  background: linear-gradient(0deg, #AEAEAE 32.91%, rgba(174, 174, 174, 0) 100.12%);
  position: relative;
  top: 152px;
}


.article-more{
  text-align: center;
  font-size: 18px;
  margin-bottom: 141px;
  &__btn {
    border-radius: 4.07692px;
    border: 0.96875px solid #CCCCCC;
  }
}

.footer {
  margin: 105px auto 22px;
  &__img {
    max-width: 100%;
  }
}

@import "media";
@import "libs";